.none{
    display: none;
    color: blue;
}
.inline{
    display: inline;
    color: aqua;
    
}
.block{
    display: block;
    color: aquamarine;
}
.flex{
    display: flex;
    color: blueviolet;
}
.grid{
    display: grid;
    color: brown;
}
.block{
    display: block;
    text-decoration: aqua;
    text-align: left;
    text-transform: uppercase;
    color: rgb(48, 61, 179);

    
}
.inline{
    display: inline;
    text-align: center;
    text-wrap: wrap;
    color: blue;
    text-transform: capitalize;
}
