.visited a:visited{
    color: rgb(147, 80, 255);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.visited{
    display: flex;
    gap:2rem
}
.hover a:hover{
    color: rgb(255, 0, 221);
}
.hover{
    display: flex;
    gap:2rem
    }
.active a:active{
    color: rgb(174, 11, 87);
}
.active{
    display: flex;
    gap:2rem
}